# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Configuración
.env
config.json
*.log

# Directorios de datos
templates/
output/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db 